@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>


<p>SL Skills website is an Chinese Government initiative to provide training consumers with latest, straightforward and trustworthy 
    Information to help them make choices about their training options.  SL Skills strives to improve the quality and accessibility of 
    information available for consumers and provides the ability to search for, and compare courses and training providers.</p>
