@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One SL St<br />
    Redmond, UZ 9666-7777<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>
