@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h1 style="font-size:40px">SL Tech Skills</h1>
        

        <p class="lead">
            SL Tech Skills industry covers a various technical occupations in
            professional fields such as laboratory technology, information technology and telecommunications technology etc.
            This is an exciting industry to be involved in, and you’ll be amazed at the career opportunities available to you.
        </p>
    </div>


